body {
    margin: 0;
    padding: 0;
    background-image: url(assets/NetflixBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    color: white;
    border-radius: 7px;
    padding: 2% 5%;
}


.brand {
    color: #D80000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 250%;
    margin-left: 5%;
    margin-top: 2%;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.name {
    display: flex;
    justify-content: center;
}

.name label {
    padding-bottom: 5%;
}

.name input {
    margin: 0% 4%;
}

#last-name {
    margin-right: 1%;
}

#first-name {
    margin-left: 1%;
}

.form-content {
    display: flex;
    flex-direction: column;
    background-color: #505050;
    margin: 6% 0%;
    padding: 2% 0%;
    border-radius: 5px;
}

.form-content label {
    padding-bottom: 2%;
    color: #A9A9A9;
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    margin-top: 2%;
}

.form-content input {
    background-color: #505050;
    border: #505050;
    color: white;
    margin: 0% 4%;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    background-color: #D80000;
    color: white;
    font-size: 110%;
    border: #D80000;
    border-radius: 3px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}